[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
polygon-api-client = "*"
plotext = "*"
matplotlib = "*"

langchain = "*"
python-dateutil = "*"

langchain-openai = "*"

typer = "*"
inject = "*"

fastapi = "~=0.89.1"
python-dotenv = "~=1.0.0"
typing-extensions = "~=4.7.1"
cryptography = "~=41.0.2"
python-jose = "~=3.3.0"
bcrypt = "~=4.0.1"
passlib = "~=1.7.4"
requests = "*"
python-multipart = "~=0.0.6"
uvicorn = "~=0.23.2"

[dev-packages]

[requires]
python_version = "3.11"
